# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = jonas
  email = jonas@psmnd.dev
	signingkey = /Users/jonas/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[core]
	editor = vim
